.graph_bench {
  display: flex;
}

.graph_content {
  margin-left: 20px;
  margin-right: 20px;
  min-width: 800px;
}

.graph_actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.graph_view {
  margin-left: 20px;
}

.graph_source_text {
  font-family: 'Verily', 'SF Mono';
}

.graph_view svg {
  outline: 0px solid #eeeeee;
  outline-offset: 0px;
}

.graph_view_content {
  display: inline-block;
}
