.graph_content {
  margin-right: 15px;
}

.graph_actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.graph_view {
  margin-left: 15px;
}

.graph_source_text {
  font-family: 'SF Mono', 'Verily';
}

.graph_view svg {
  outline: 0px solid #eeeeee;
  outline-offset: 0px;
}
